{{>layout/header}}
<div class="bg-dark text-white p-5">
    <h1>{{username}}님, 반갑습니다.</h1>
    <p>중괄호 두개는 mustatche의 문법으로 안에는 변수이름을 넣는다.</p>
    <p>Mustache는 View templete을 만들어주는 도구(engine)!</p>
</div>
{{>layout/footer}}
